## Data Types and Structures Questions

Q1.  What are data structures, and way are they important?
->  A data structure is way of organizing and storing data in a computer so
    that it can be accesed and used efficiently.It refers to the logical or mathmatical representation of data, as well as the implementation in a computer program.

Q2. Explain the difference between mutable and immutable data types with
    examples?
  -> Mutable data can be changed/replace/modify or  after creation, while immutable data can not be chanded/replace/modify after once been created.
  examle----->

In [1]:
# Mutable data
my_list = [10, 20, 30, 40]
my_list[1]=100                    #Modify the second element
print(my_list)

[10, 100, 30, 40]

In [3]:
# Immutable data
say = "hello_World"
#say[0] = "H" #this will raise an error because strings are immutable
new_say = "H" + say[1:]
     #Creates a new string, doesn't modify the original
print(new_say)

Hello_World

Q3. What are the main differences between lists and tuples in Python?
   * Syntax:

       *Lists: are defined using square brackets []

       *Tuples: are defined using parentheses ()

   * Mutability:

       *Lists are mutable:Their elements can add,remove,or modified after creation

       *Tuples are immutable: once created, then elements of tuple cannot be changed
   * Usability:

       *Lists: in dictionary we cannot use lists as keys

       *Tuples: in dictionary we can create keys using tuples
   * Methods:
   
       *Lists: There are 46 available methods on lists

       *Tuples: There are 33 available methods on tuples

Q4. Describe how dictionaries store data?
->  A dictionary is a collection which is ordered*, changeable and do not allow duplicates.Dictionaries are used to store data values in key:value pairs.

Q5. why might you use a set instead of list in python?
->  Because sets we cannot have multiple occurrences of the same element, it
    makes sets highly useful to efficiently remove duplicate values from a list or tuple and to perform common math operations like unions and intersections.

Q6. What is a string in Python, and how is it different from a list?
-> A list a sequence of values which can be characters, integers or even
   another list( it's referred to as a nested list).A string is a sequence of characters.A dictionary is a more like general version of a list and is made up a sets of keys and values where there is a mapping between a given key and its corresponding value.

Q7. How do tuples ensure data integrity in Python?
->  Tuples in Python ensure data integrity through their immutability. Once a tuple is created, its elements cannot be changed, added, or removed.Tuples provides several benefits:  
* Data Stability:
  Immutability ensures that the data within a tuple remains constant throughout the program's execution, preventing accidental modifications and maintaining data consistency.
* Dictionary Keys:
Because tuples are immutable, they can be used as keys in dictionaries, ensuring that the keys remain consistent and reliable for data retrieval.

Q8. What is a hash table, and how does it relate to dictionaries in python?
->  Hash tables are one of those fundamental data structures that every developer should know. They're the backbone of Python's dictionaries and are crucial for efficient data storage and retrieval.

Q9. Can lists contain different data types in Python?
->  Yes, lists in Python can contain different data types.
    For example...

In [4]:
#Python can contain different data types
my_list = [1, "hello", 3.14, True, [1, 2, 3], {"key": "value"}]
print(my_list)

[1, 'hello', 3.14, True, [1, 2, 3], {'key': 'value'}]

Q10. Explain why strings are immutable in Python?

In [5]:
"""
Q10. Explain why strings are immutable in Python?
 ->  Strings are "immutable" which means they cannot be changed after they are created
 Example->
 """

string1 = "hello"
string2 = string1 + " world"      # A new string object "hello world" is created
print(string1)                     # Output: hello (original string is unchanged)
print(string2)                     # Output: hello world

hello
hello world

Q11. What advantages do dictionaries offer over lists for certain tasks?

* Dictionaries in Python offer fast data retrieval:
 Unlike lists where you have to traverse through each element to find a value, dictionaries use hash tables for quick access to values based on keys.

Q12. Describe a scenario where using a tuple would be preferable over a list.
-> As we know Tuples are immutable.So, they are primarily used to store data that doesn't change frequently. Any operation can store data in a tuple when you don't want it to change. Tuples are great to use if you want the data in your collection to be read-only, never to change, and always remain the same and constant.

Q13. How do sets handle duplicate values in python?

In [6]:
"""
Q13. How do sets handle duplicate values in python?
-> Python sets are designed to store only unique elements. When you attempt to
add a duplicate value to a set, it will not be added again. This behavior is inherent to
the nature of sets as unordered collections of distinct items.For example...
"""
my_sets = {1, 2, 3, 2, 4, 1}
print(my_sets)       #In this example, even though we tried to add 2 and 1 twice, the set only contains each number once.

{1, 2, 3, 4}

Q14. How does the "in" keyword work differently for lists and dictionaries?
->
* Lists:
          The "in" keyword checks if a value exists among the items in the list.
          It returns True if the value is found within the list's elements and False if it is not present.
  * Example:

In [ ]:
 my_list = [1, 2, 3, 4]
  print(2 in my_list)                   # Output: True
  print(5 in my_list)

* Dictionaries:
      The "in" keyword checks if a key exists in the dictionary's key set.
      It returns True if the key is found in the dictionary and False if it's not present.
* Example:

In [9]:
my_dict = {"name": "Akash", "age": 20}
print("name" in my_dict)           # Output: True
print("city" in my_dict)             # Output: False
print("Akash" in my_dict)            # Output: False (checks for keys, not values)

True
False
False

   In summary:

* Lists: "in" searches for a value among the list's items.

* Dictionaries: "in" searches for a key within the dictionary's key set.

Q15. Can you modify the elements of a tuple explain why or why not?
->
   No,we cannot directly modify the elements of a tuple in Python after it's been created. Tuples are immutable because of it's designed to be constant. Their values are fixed from the moment they're created, which makes them suitable for representing data that should not be altered. Meaning their contents cannot be changed once they are assigned.

   * Data Integrity:

        Using immutable tuples helps prevent accidental modifications to data, which is crucial in many programming scenarios.

   * Efficiency:

      This immutability allows Python to optimize tuple operations, as it doesn't need to worry about tracking changes and allocating new memory.

      If we need to change the elements of a sequence,we should use a list instead, as it's mutable and allow for modifications like adding, removing, or changing elements.

In [11]:
"""
Q16. What is Nested Dictionary in Python?With an example
->
 A nested dictionary is a dictionary inside a dictionary.
 It's a collection of dictionaries into one single dictionary.
 For example
"""

people = {1: {'name': 'John', 'age': '27', 'sex': 'Male'},
          2: {'name': 'Marie', 'age': '22', 'sex': 'Female'}}
print(people)

{1: {'name': 'John', 'age': '27', 'sex': 'Male'}, 2: {'name': 'Marie', 'age': '22', 'sex': 'Female'}}

Q17. Describe the time complexity of accessing elements in a dictionary?


->
  In dictionaries, accessing elements by key generally has a time complexity of O(1), according to GeeksforGeeks and Stack Overflow. This means the time it takes to retrieve a value is constant and does not depend on the size of the dictionary. This is due to the underlying implementation using a hash table, which allows for direct lookup of elements using their keys.
* Detailed Explanation:
O(1) Time Complexity:

This indicates that the time taken to access an element remains the same regardless of the number of key-value pairs in the dictionary.
* Hash Table:

Dictionaries internally utilize a hash table, a data structure that uses a hash function to map keys to specific memory locations.
* Direct Lookup:

When accessing an element by key, the hash function generates a unique hash value for the key, which is used to locate the corresponding value within the hash table.
* Constant Time:

Because the hash function directly maps keys to their locations, the time required for lookup is constant, even with a large number of key-value pairs.

Q18. In what situations are lists preferred over dictionaries?
->
   For quick data look-ups, configurations,favor dictionaries, or caches. For ordered collections and sequence operations, such as maintaining a stack or queue, lists are more suitable.

Q19. Why dictionary is considered as underscore, and why does that affect data retrieval?

->
 * Basically:
  
  The dictionary is an unordered collection that contains key:value pairs separated by commas inside curly brackets. Dictionaries are optimized to retrieve values when the key is known. The following declares a dictionary object.
  * Dictionary is a data structure which is a important value structure, optimized for fast storage and recovery based on key.

  * In python, dictionaries are un-ordered because Python dictionaries are not intended to be in order, as simple as that. If we want to collect a set of objects in order, we have only one choice of accessing them: through index.

  * in other words, we can give explanation as " Dictionary termed as an unordered collection of objects because in dictionary we can use any type of datatypes, but in key datatype must be immutable type "

Q20. Explain the difference between a list and a dictionary in terms of data
     retrieval?
  ->
   * A List in Python is an ordered collection of items that can be accessed by their position (index). Lists are defined using square brackets, like my_list = [1, 2, 3].
   * A Dictionary in Python is an unordered collection of key-value pairs where each key is unique and used to access its corresponding value.

 ## Practical Question

In [12]:
"""
Q1. Write a code to create a string with your name and print it?
"""
print("Akash")

Akash

In [13]:
"""
Q2. Write a code to find the length of the string "Hello World"?
"""
string = "Hello World"
length = len(string)
print(length)

11

In [17]:
"""
Q3. Write a code to slice the first 3 characters from the string "Python Programming"?

"""
say = "Python Programming"
sliced_say = say[:2]
print(sliced_say)

Py

In [16]:
"""
Q4. Write a code to convert the string "hello" to uppercase?
"""
say = "hello"
uppercase_say = string.upper()
print(uppercase_say)

HELLO

In [21]:
"""
Q5. Write a code to replace the word "apple" with "orange" in the string "I like apple"?
"""
a = ["I like apple","I love you so much"]
a = [s.replace('apple', 'orange').replace('love', 'like') for s in a]
print(a)

['I like orange', 'I like you so much']

In [25]:
"""
Q6. Write a code to create a list with numbers 1 to 5 and print it.
"""
no1 = 0
no2 = 6
so =list(range(no1,no2))
print(so)

[0, 1, 2, 3, 4, 5]

In [29]:
"""
Q7. Write a code to append the number 10 to the list [1, 2, 3, 4]?
"""
my_list = [1,2,3,4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [33]:
"""
Q8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?
"""
my_list = [1,2,3,4,5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

In [36]:
"""
Q9. Write a code to access the second element in the list ['a', 'b', 'c' 'd']?
"""
my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
print(second_element)

b

In [38]:
"""
Q10. Write a code to reverse the list [10, 20, 30, 40, 50]?
"""
my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

In [39]:
"""
Q11. Write a code to create a tuple with the elements 100, 200, 300 and print it?
"""
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [40]:
"""
Q12. Write a code to access the second-to-last element of the tuple ('red", 'green', blue, yellow')?
"""
my_tuple_2 = ('red', 'green', 'blue', 'yellow')
second_to_last = my_tuple_2[-2]
print(second_to_last)

blue

In [41]:
"""
Q13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
"""
my_tuple_3 = (10, 20, 5, 15)
min_number = min(my_tuple_3)
print(min_number)

5

In [42]:
"""
Q14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', rabbit')?
"""
animals = ['cat', 'dog', 'rabbit', 'horse']
index = animals.index('cat')
print(index)

0

In [44]:
"""
Q15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it?
"""
thistuple = ("apple", "banana", "kiwi")
if "kiwi" in thistuple:
  print("Yes, 'kiwi' is in the fruits tuple")
else:
    print("No, 'kiwi' is not in the fruits tuple")

Yes, 'kiwi' is in the fruits tuple

In [47]:
"""
Q16. Write a code to create a set with the elements 'a, 'b', c' and print it?
"""
set1 = {'a','b','c'}
print(set1)
print(type(set1))

{'c', 'b', 'a'}
<class 'set'>

In [49]:
"""
Q17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}?
"""
set2 = {1, 2, 3, 4, 5}
set2.clear()
print(set2)

set()

In [56]:
"""
Q18. Write a code to remove the element 4 from the set {1, 2, 3, 4}?
"""
set3= {1, 2, 3, 4}
set3.remove(4)
print(set3)

{1, 2, 3}

In [60]:
"""
Q19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}?
"""
set1 ={1, 2, 3}
set2 = {3, 4, 5}
union_set = set1 | set2           # Use the union operator (|) to combine the sets
print(union_set)

{1, 2, 3, 4, 5}

In [61]:
"""
Q20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}?
"""
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection = set1.intersection(set2)
print(intersection)

{2, 3}

In [62]:
"""
Q21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it?
"""
d = {'name': 'Akash', 'age': 20, 'city': 'Kolkata'}

a = list(d.keys())

print(a)

['name', 'age', 'city']

In [63]:
"""
Q22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name: 'John', 'age: 25}?
"""
a = {"name": "John", "age": 25}
a["country"] = "USA"
print(a)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [64]:
"""
Q23. Write a code to access the value associated with the key "name" in the dictionary ('name: 'Alice', 'age": 30}?
"""
my_dict = {'name': 'Alice', 'age': 30}
name_value = my_dict['name']
print(name_value)

Alice

In [70]:
"""
Q24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22,'city': 'New York'}?
"""
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict["age"]
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

In [66]:
my_dict

{'name': 'Bob', 'age': 22, 'city': 'New York'}

In [81]:
"""
Q25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city: 'Paris'}?
"""
my_dict2 = {'name': 'Alice','city': 'Paris'}
if "city" in my_dict2.keys():
    print("Key exists.")
else:
    print("Key does not exist.")

Key exists.

In [82]:
"""
Q26. Write a code to create a list, a tuple, and a dictionary, and print them all?
"""
# Creating a list
my_list = [1, 2, 3, 4, 5]

# Creating a tuple
my_tuple = ('a', 'b', 'c', 'd')

# Creating a dictionary
my_dict = {'name': 'Akash', 'age': 20, 'city': 'kolkata'}

# Printing all the data structures
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('a', 'b', 'c', 'd')
Dictionary: {'name': 'Akash', 'age': 20, 'city': 'kolkata'}

In [84]:
"""
Q27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result. (replaced)
"""
import random

# Create a list of 5 random numbers between 1 and 100
random_numbers = [random.randint(1, 100) for _ in range(5)]

# Sort the list in ascending order
random_numbers.sort()
print("Sorted list of random numbers:", random_numbers)

Sorted list of random numbers: [20, 29, 35, 58, 100]

In [85]:
"""
Q28. Write a code to create a list with strings and print the element at the third index?
"""
string_list = ['apple', 'banana', 'cherry', 'date', 'elderberry']

# Printing the element at the third index
print("Element at index 3:", string_list[3])

Element at index 3: date

In [86]:
"""
Q29. Write a code to combine two dictionaries into one and print the result?
"""
person_info = {'name': 'Akash', 'age': 20}
contact_info = {'email': 'akash@example.com', 'phone': '123-456-9211'}

# Combine the dictionaries
full_info = {**person_info, **contact_info}
print("Combined dictionary:", full_info)

Combined dictionary: {'name': 'Akash', 'age': 20, 'email': 'akash@example.com', 'phone': '123-456-9211'}

In [88]:
"""
Q30. Write a code to convert a list of strings into a set?
"""
colors = ['red', 'blue', 'green', 'red', 'yellow', 'blue']

# Convert the list to a set to remove duplicates
unique_colors = set(colors)
print("Set of unique colors:", unique_colors)

Set of unique colors: {'blue', 'green', 'yellow', 'red'}